<h3>Hello {{ user|get:"vanityName" }},</h3>
<div id="export-body">
    <p>First you need to choose what data you want to export:</p>
    <form>
        <ul class="unstyled">
            <li><label class="checkbox"><input type="checkbox" id="playlists" checked />Your playlists</label></li>
            <li><label class="checkbox"><input type="checkbox" id="playlists-contributed" checked />Playlists you've contributed to</label></li>
            <li><label class="checkbox"><input type="checkbox" id="collection" checked />Your collection</label></li>
            <li><label class="checkbox"><input type="checkbox" id="comments" disabled />Your comments</label></li>
            <li><label class="checkbox"><input type="checkbox" id="play-history" disabled />Your play history</label></li>
        </ul>
        <button type="submit" class="btn btn-primary export">Export!</button>
    </form>
</div>
